<div class="row" ng-show="errorMessages.length">
    <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
            <ul class="angular-error">
                <li ng-repeat="e in errorMessages"><i class="fa fa-exclamation inline-icons end-pad-10"></i>{{e}}</li>
            </ul>
        </div>
    </div>
</div>
<a href="javascript:void(0);" class="btn btn-primary" ng-click="temp()">Temp</a>
<div class="row">
    <div class="col-sm-12">
        <a href="#/user/add" class="btn btn-primary"><i class="fa fa-plus inline-icons end-pad-10"></i>Add User</a>
        <br>
        <br>

        <div ui-grid="userNgGrid" ui-grid-pagination ui-grid-edit ui-grid-row-edit ui-grid-cellNav
             class="dataGrid"></div>
    </div>
</div>